{% extends "users/base.html" %}

{% block body %}
<div class="row" id="hello">
    <div class="col">
        <h4>Hello, {{ user.first_name }}</h4>
    </div>
</div>
</br>
<h3>Your order: <b>{{ sub }}</b></h3>
{{ error }}
{% if error != "" %}
</br>
<h3>Would you like to add some extras to your sub?</h3>

<form action="{% url 'order_addon' %}" method="post">
    {% csrf_token %}
        {% for addon in addons %}
                {{ addon }} <input  name="addon" type="checkbox" value="{{ addon.id }}" id="{{ addon.id }}"/><br/>
        {% endfor %}
    </br>
    <input class="send" type="submit" value="Send Order"/>
</form>
</br>
<form action="{% url 'shopping_cart' %}" method="get">
    {% csrf_token %}
    <input class="select" type="submit" value="No, thanks"/>
</form>
{% endif %}
{% endblock %}