{% extends "users/base.html" %}

{% block body %}
<h2>Login</h2>
{% if message %}
    <div>
        <b>{{ message }}</b>
    </div>
    </br>
{% endif %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputUsername2">Username</label>
            <input name="username" class="form-control" id="inputUsername2" placeholder="Username" type="text" autocomplete="off"/>
        </div>
         <div class="form-group col-md-4">
            <label for="inputPassword3">Password</label>
            <input name="password" class="form-control" id="inputPassword3" type="password" autocomplete="off"/>
         </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-1">
            <input id="login" type="submit" class="form-control" value="Login"/>
        </div>
    </div>

</form>
</br>
<h3>Or</h3>
</br>
<h2>Register</h2>

<form action="{% url 'register' %}" method="post">
{% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-4">
        <label for="inputUsername">Username</label>
        <input name="username" class="form-control" id="inputUsername" type="text" placeholder="Username" autocomplete="off"/>
    </div>
    <div class="form-group col-md-4">
        <label for="inputPassword">Password</label>
        <input name="password" class="form-control" id="inputPassword" type="password" placeholder="Passorwd" autocomplete="off"/>
    </div>
    <div class="form-group col-md-4">
        <label for="inputPassword2">Confirm Password</label>
        <input name="confirm_password" class="form-control" id="inputPassword2" type="password" placeholder="Confirm Password" autocomplete="off"/>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
        <label for="inputFirstName">First Name</label>
        <input name="first_name" class="form-control" id="inputFirstName" type="text" placeholder="First Name" autocomplete="off"/>
    </div>
    <div class="form-group col-md-4">
        <label for="inputLastName">Last Name</label>
        <input name="last_name" class="form-control" id="inputLastName" type="text" placeholder="Last Name" autocomplete="off"/>
    </div>
    <div class="form-group col-md-4">
        <label for="inputEmail">Email</label>
        <input name="email" class="form-control" id="inputEmail" type="email" placeholder="Email" autocomplete="off"/>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-1">
        <input id="register" type="submit" class="form-control" value="Register"/>
    </div>
  </div>
</form>
{% endblock %}
