{% extends "users/base.html" %}

{% block body %}
<div class="row" id="hello">
    <div class="col">
        <h4>Hello, {{ user.first_name }}</h4>
    </div>
</div>
</br>
{% if topping_number %}
<h3>Choose {{ topping_number }} topping(s) for your order <b>{{ pizza }}</b></h3>


<form action="{% url 'order_toppings' %}" method="post">
    {% csrf_token %}
        {% for topping in toppings %}
                {{ topping }} <input  name="topping" type="checkbox" value="{{ topping.id }}" id="{{ topping.id }}"/><br/>
        {% endfor %}
    <br>
    <input class="select" type="submit" value="Send Order"/>
</form>

{% else %}
<h2>Your order: {{ pizza }}</h2>
{{ error }}
<h4>{{ message }}</h4>
<form action="{% url 'shopping_cart' %}" method="get">
    {% csrf_token %}
    <input class="select" type="submit" value="Send Order"/>
</form>
{% endif %}
{% endblock %}
